{% load static %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1">
    <tr>
      <td><a href="updateProfile">Update profile </a></td>
    </tr>
    <tr>
      <td><a href="add_ManageBooks">Add/Manage Books</a></td>
    </tr>
    <tr>
      <td><a href="viewOrdersAndPayment">View orders and payment details</a></td>
    </tr>
    <tr>
      <td><a href="/">Logout</a></td>
    </tr>
  </table>
</form>
</body>
</html>
