{% extends 'Admin/adminindex.html' %}
{% block body %}

          <head>
        <style>
            .dark-striped-tables {
  background-color: #2c3034; /* Dark background color */
  border-radius: 20px; /* Rounded corners */
  overflow: hidden; /* Hide the border-collapse separator */
}

.dark-striped-table th,
.dark-striped-table td {
  border: 10px solid #ffffff;
  padding: 10px; /* Adjust padding as needed */
  color: #FFFFFF;; /* Text color */
}

.dark-striped-table tbody tr:nth-child(odd) {
  background-color: #2c3036; /* Striped background color for odd rows */
}
        </style>
    </head>

<body>
<form id="form1" name="form1" method="post" action="offersSearch">
  <table width="462" border="1" class="table dark-striped-tables table-striped table-dark">
    <tr>
      <td colspan="6"><div align="center">Bookstall 
      </div>
        <label>
        <div align="center">
          <input type="text" placeholder="Name" name="select" class="form-control">
          <input type="submit" name="Submit" value="search" class = "btn btn-primary" />
          </div>
      </label></td>
    </tr>
    <tr>
      <td width="114">BookName </td>
      <td width="65">Author</td>
      <td width="58">Genre</td>
      <td width="44">Rate</td>
      <td width="56">Stock</td>
      <td width="85">&nbsp;</td>
    </tr>
  {% for i in data %}
    <tr>
      <td height="99"> {{ i.name }}&nbsp;</td>
      <td>{{ i.author }}</td>
      <td>{{ i.genre }}</td>
      <td>{{ i.rate }}</td>
      <td>&nbsp;{{ i.stock }}</td>
      <td><div align="center"><a href="viewBookAndOffers2" class="btn btn-outline-success">Offers</a></div></td>
    </tr>
  {% endfor %}
  </table>
</form>
</body>
{% endblock %}

